li a {
    color: red;
    background: black;
}

body {
    background: white;
    font: 20px arial, helvetica, sans-serif;
    line-height: 30px;
    color: #fff;
    padding-right: 10%;
    padding-left: 10%;
    max-width: 1200px;
    margin: auto;
}

#listbody {
    width: 77%;
    max-width: 1000px;
    top: 100;
    left: 100;
    position: absolute;
    background-color: black;
    column-count: 4;
    z-index: 0;
}

#listbody li {
    padding-left: 50px;
    padding-right: 50px;
    list-style: none;
    text-align: center;
    display: inline-block;
    line-height: 30px;
    z-index: 1;
}

ul {
    padding: 0;
    margin: 0;
    background: black;
}

ul li {
    float: left;
    display: inline;
    position: relative;
    width: 100px;
    list-style: none;
    background: black;
    text-align: center;
    z-index: 2;
}

ul ul {
    position: absolute;
    left: 0;
    top: 100%;
    background: black;
    display: none;
    width: 40px;
}

ul ul ul {
    left: 100%;
    top: 0;
    background: #999;
    width: 40px;
    background: black;
}

li:hover > ul {
    display: block;
}

p {
    clear: left;
    padding-top: 1em;
}

@media screen and (orientation: portrait) {
    body {
    padding-right: 0;
    padding-left: 0;
    max-width: auto;
    }

    #listbody {
        width: 100%;
        max-width: auto;
        left: 100;
    }
}

@media screen and (orientation: landscape) {
    body {
    padding-right: 10%;
    padding-left: 10%;
    max-width: 1000px;
    }

    #listbody {
        width: 77%;
        max-width: 1000px;
        left: 100;
    }
}